<?xml version="1.0"?>
<configuration>


  <appSettings>
    <add key ="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>


  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True"/>
  </connectionStrings>

  <system.web>
    <roleManager enabled="true"/>
      <compilation debug="true" targetFramework="4.5.2" />
      <authentication mode="Forms"/>
    </system.web>
</configuration>
